.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    margin-top: 40px;
}

.about-left-section{
    width: 50vw;
    height: 70vh;
}

.about-right-section{
    width: 40vw;
    height: 70vh;
}

@media screen and (max-width : 950px) {
    .about-container{
        flex-direction: column;
        margin-top: 200px;
    }
    .about-left-section{
        width: 80vw;
    }
    
    .about-right-section{
        width: 80vw;
    }
}

@media screen and (max-width : 568px) {
    .about-container{
        margin-top: 170px;
    }
}

@media screen and (max-width : 450px) {
    .about-container{
        margin-top: 120px;
    }
}

@media screen and (max-width : 390px) {
    .about-container{
        margin-top: 100px;
    }
}