.skillOuterContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:  center;
}

.skills-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    border-top: 1px solid #ffffff2b;
}

.skillHeadingAndCaptionOuterCont{
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.skillHeadingAndCaptionCont{
    width: fit-content;
    padding: 0px 10px;
    background-color: rgb(33 26 35);
}

.my-best-skill-heading{
    color: white;
    font-size: 55px;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

.skillCaption{
    color: #fff;
    font-family: 'Poppins' , sans-serif ;
    margin: 0px;
    text-align: center;
    font-style: italic;
    color: rgb(91, 167, 255);
}

.innerSkillsContainer{
    margin-top: 100px;
    margin-bottom : 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.frontend-technologies, .backend-technologies, .other-skills{
  width: 90%;
  height: 30%;
  display: flex;
  margin-bottom: 30px;
}

.frontend-heading{
    width: 30%;
    height: 100%;
}

.logos{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 0px;
}

.logos-slide{
    display: inline-block;
    animation: 7s slide infinite linear;
}

.newSkillNameCont{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skills-images{
    width: 20px;
    height: 20px;
}

.logos-slide-2{
    display: inline-block;
    animation: 7s slide-2 infinite linear;
}

.newSkillContainer{
    width: 250px;
    height: 250px;
    background-color: rgb(33 26 35);;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 2px rgba(148, 198, 255, 0.377);
    padding: 10px;
    background-image: url('../../images/cardBackground.png');
    cursor:pointer;
    transition: 0.5s box-shadow;
}

.newSkillContainer:hover{
    box-shadow: 0px 0px 4px 4px rgba(148, 198, 255, 0.377);
}

.newLearningHeading{
    color: #fff;
    font-family: 'Poppins' , sans-serif ;
}

.newSkillName{
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: rgb(33 26 35);;
    /* border: 1px solid purple; */
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: #fff;
    font-family: 'Poppins' , sans-serif ;
    box-shadow: 0px 0px 2px 2px rgb(100, 100, 100);
    border-radius: 20px;
    margin: 10px 10px 0px 0px;
}



@media screen and (max-width : 990px) {
    .skills-container{
        margin-top: 100px;
    }
}


@media screen and (max-width : 950px) {
    .skills-container{
        margin-top: 250px;
    }
}

@media screen and (max-width : 769px) {
    .innerSkillsContainer{
        flex-direction: column;
    }
    .newSkillContainer{
        margin-bottom: 20px;
    }
}

@media screen and (max-width : 570px) {
    .skills-container{
        margin-top: 150px;
    }
    .my-best-skill-heading{
        font-size: 50px;
    }
}


@media screen and (max-width : 450px) {
    .skills-container{
        margin-top: 100px;
    }
    .my-best-skill-heading{
        font-size: 45px;
    }
    
}


@media screen and (max-width : 380px) {
    .my-best-skill-heading{
        font-size: 40px;
    }
    
}