
.home-page-banner-container{
    width: 100vw;
    height: 100vh ;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-image:url("https://images.unsplash.com/photo-1682687982183-c2937a74257c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80") ; */
    background-image: url('https://images.unsplash.com/photo-1687804446680-d90cf8c60713?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

.homeSectionContainer{
    width: 90vw;
    height: 70vh;
    display: flex;
}

.leftSectionHomePageContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightSectionHomePageContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.matrixContainer{
    width: 90%;
    height: 40%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
}

.projectRecord ,.locationRecord {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid white;
}

.hackathonRecord , .developerRecord{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid white;
}

.developerRecord , .projectRecord{
    border-bottom: 1px solid white;
}

.liveProjectCount , .hackathonCount , .locationTo , .developerRank{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 6px 0px 0px 0px;
    text-shadow: 2px 2px rgb(33 26 35);
}

.locationTo , .developerRank{
    filter: drop-shadow(2px 2px rgb(33 26 35));
}

.projectHomeTag , .hackathonHomeTag , .locationHomeTag , .developerHomeTag{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0px 0px 6px 0px;
}

.SocialHomeBtnContainer{
    width: 100%;
    display : flex;
    align-items: center;
    margin-top: 20px;
}

.linkedinSocialBtn{
    width: 45%;
    height: 40px;
    outline: none;
    border: 2px solid rgb(33 26 35);;
   
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    background-color: rgb(106, 38, 123);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.githubSocialBtn{
    width: 45%;
    border: 2px solid rgb(33 26 35);;
    height: 40px;
    outline: none;
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(106, 38, 123);
    cursor: pointer;
}

.githubSocialBtn:hover , .linkedinSocialBtn:hover{
    box-shadow: 0px 0px 2px 2px rgb(177, 100, 177);
    border: none;
}

.section-container{
    width: 90vw;
    height: 100vh;
    display: flex;

}

.hi-container-left-section{
    font-size: 50px;
    color: white;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.name-left-section{
    margin: 0px;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: capitalize;
}

@media screen and (max-width : 768px) {
    .hi-container-left-section{
        font-size: 40px;
    }
    .name-left-section{
        font-size: 60px;
    }    
    .inner-heading{
        height: 60px;
        line-height: 60px; 
        font-size: 45px;
    }
    .inner-heading span{
        font-size: 45px;
    }

    /* .home-page-banner-container{
        height : 140vh ;
    } */

    .homeSectionContainer{

        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    .hi-container-left-section , .name-left-section{
        text-align: center;
    }

    .leftSectionHomePageContainer{
        margin-top: -80px;
        width: 100%;
    }

    .rightSectionHomePageContainer{
        width: 100%;
        margin-top: 60px;
    }
    .SocialHomeBtnContainer{
        justify-content: center;   
    }
}

@media screen and (max-width : 660px) {
    .hi-container-left-section{
        font-size: 30px;
    }
    .name-left-section{
        font-size: 50px;
    }  
    .right-side-inset-container{
        padding: 70px 50px 0px 0px;
    } 
}

@media screen and (max-width : 550px){
    .hi-container-left-section{
        font-size: 30px;
    }
    .name-left-section{
        font-size: 40px;
    }  

    .inner-heading{
        height: 50px;
        line-height: 50px; 
        font-size: 35px;
    }
    .inner-heading span{
        font-size: 35px;
    }
}

@media screen and (max-width : 426px){
    .right-side-inset-container{
        padding: 60px 20px 0px 0px;
    } 
    .inner-heading{
        height: 60px;
        line-height: 60px; 
        font-size: 30px;
    }
    .inner-heading span{
        font-size: 30px;
    }
}

@media screen and (max-width : 375px){
    .hi-container-left-section{
        font-size: 25px;
    }
    .name-left-section{
        font-size: 30px;
    }  
    .right-side-inset-container{
        padding: 90px 15px 0px 0px;
    } 
    .inner-heading{
        height: 60px;
        line-height: 60px; 
        font-size: 28px;
    }
    .inner-heading span{
        font-size: 28px;
    }
}