
.home-page-banner-container{
    width: 100vw;
    height: 140vh ;
    /* background-image:url("https://images.unsplash.com/photo-1682687982183-c2937a74257c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80") ; */
    background-image: url('https://images.unsplash.com/photo-1663970206579-c157cba7edda?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

.section-container{
    width: 90vw;
    height: 100vh;
    display: flex;

}


.right-side-inset-container{
    width: 100vw;
    height: 100vh;
    padding: 70px 100px 0px 0px;
    position: relative;
    /* background: linear-gradient(90deg,rgba(0,0,0, 0),black); */
}

.home-banner-inset-container{
    width:100vw;
    height: 100vh;
    background-color: black;
    transform: rotate(90deg);
    z-index: -1;
    overflow: hidden;
}

.outer-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

.inner-heading{
    height: 70px;
    line-height: 70px; 
    font-size: 55px;
    overflow: hidden; 
    margin-top: 0px;
}

.inner-heading span{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    color: rgb(91, 167, 255);
    animation: animation 10s ease infinite ;
}

@keyframes animation {
    0%{
        top:0;
    }
    20%{
        top:0;
    }
    25%{
        top:-70px;
    }
    45%{
        top:-70px ;
    }
    50%{
        top: -140px;
    }
    70%{
        top: -140px;
    }
     75%{
        top: -70px;
    } 
    85%{
        top:-70px ;
    }
    95%{
        top: 0;
    }
    100%{
        top: 0;
    }
}

.hi-container-left-section{
    font-size: 50px;
    color: white;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.name-left-section{
    margin: 0px;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: capitalize;
}

@media screen and (max-width : 768px) {
    .hi-container-left-section{
        font-size: 40px;
    }
    .name-left-section{
        font-size: 60px;
    }    
    .inner-heading{
        height: 60px;
        line-height: 60px; 
        font-size: 45px;
    }
    .inner-heading span{
        font-size: 45px;
    }
    @keyframes animation {
        0%{
            top:0;
        }
        20%{
            top:0;
        }
        25%{
            top:-70px;
        }
        45%{
            top:-70px ;
        }
        50%{
            top: -130px;
        }
        70%{
            top: -130px;
        }
         75%{
            top: -70px;
        } 
        85%{
            top:-70px ;
        }
        95%{
            top: 0;
        }
        100%{
            top: 0;
        }
    }
}

@media screen and (max-width : 660px) {
    .hi-container-left-section{
        font-size: 30px;
    }
    .name-left-section{
        font-size: 50px;
    }  
    .right-side-inset-container{
        padding: 70px 50px 0px 0px;
    } 
}

@media screen and (max-width : 550px){
    .hi-container-left-section{
        font-size: 30px;
    }
    .name-left-section{
        font-size: 40px;
    }  

    .inner-heading{
        height: 50px;
        line-height: 50px; 
        font-size: 35px;
    }
    .inner-heading span{
        font-size: 35px;
    }
    @keyframes animation {
        0%{
            top:0;
        }
        20%{
            top:0;
        }
        25%{
            top:-50px;
        }
        45%{
            top:-50px ;
        }
        50%{
            top: -100px;
        }
        70%{
            top: -100px;
        }
         75%{
            top: -50px;
        } 
        85%{
            top:-50px ;
        }
        95%{
            top: 0;
        }
        100%{
            top: 0;
        }
    }
}

@media screen and (max-width : 426px){
    .right-side-inset-container{
        padding: 60px 20px 0px 0px;
    } 
    .inner-heading{
        height: 60px;
        line-height: 60px; 
        font-size: 30px;
    }
    .inner-heading span{
        font-size: 30px;
    }
    @keyframes animation {
        0%{
            top:0;
        }
        20%{
            top:0;
        }
        25%{
            top:-70px;
        }
        45%{
            top:-70px ;
        }
        50%{
            top: -130px;
        }
        70%{
            top: -130px;
        }
         75%{
            top: -70px;
        } 
        85%{
            top:-70px ;
        }
        95%{
            top: 0;
        }
        100%{
            top: 0;
        }
    }
}

@media screen and (max-width : 375px){
    .hi-container-left-section{
        font-size: 25px;
    }
    .name-left-section{
        font-size: 30px;
    }  
    .right-side-inset-container{
        padding: 90px 15px 0px 0px;
    } 
    .inner-heading{
        height: 60px;
        line-height: 60px; 
        font-size: 28px;
    }
    .inner-heading span{
        font-size: 28px;
    }
}